/* MAIN PAGE CSS */

header {
    background-color: #333;
    text-align: center;
    padding: 1em 0;
}

/*header a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}*/

/* navigation bar styles */
.navbar {
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    background-color: #0b0b0b;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    display: inline-block;
    padding-top: 15px;
    padding-left: 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #333333;
    color: rgb(166, 71, 71);
}

.navbar .icon {
    display: none;
}
/*
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
} */

body {
    background-color: #333;
}
main {
    background-color: white; 
    position: relative;
    text-align: center;
    padding: 20px;
}
/*
.contact-us {
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
*/
main h1 {
    background-color: rgb(172, 193, 221);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px 0;
    padding: 15px;
}

main h2 {
    font-size: xx-large;
    color: black;
}

main h3 {
    color: black;
}

.left-title {
    text-align: left !important;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: left;
    margin-bottom: 40px;
}

.custom-bg {
    background-color: rgb(172, 193, 221);
    padding: 25px;
    
}
